# Python temp files/compiled files
__pycache__/
*.pyc
*~
*.swp
*.swo

# etc
.Rhistory

# JetBrains stuff
.idea/

# Output files
image_output/
.ipynb_checkpoints/
mprofile_*.dat

# Don't save out/ folder or any other test results in the git history. Save those locally.
out/
notes/runtime-differences/
notes/bandwidth/bandwidth_output.txt
notes/bandwidth/bandwidth.bmp
